/* backgroundPattern.css */
body {
    background-color: #4F46E5; /* Color de fondo */
  }
  
  .pattern {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="%234F46E5"><rect width="8" height="2"/><rect width="2" height="8" x="4" y="4"/></svg>');
    background-repeat: repeat;
  }